{{!---------- Add Form ----------}}
<form action="/burgers/create" method="POST">

  	<div class="form-group">
        <h2>Add a Burger</h2>
    	<textarea  id="burger" name="name" rows="5" cols="30"></textarea>
    	<input type="hidden" name="devoured" value="0">

  	</div>

 	<button type="submit">Add Burger</button>
</form>