{{!---------- Update Form ----------}}
<form action="/burgers/update?_method=PUT" method="POST">
	<input input type="hidden" type="text" name="burger_id" value={{this.id}}><br>
    <button type="submit">Munch Munch..</button>

</form>