{{!---------- Update Form ----------}}
<form action="/{{this.id}}?_method=PUT" method="POST">
    <input type="hidden" name="devoured" value="true">
    <button type="submit">Munch Munch..</button>

</form>